@media (max-width: 1850px) {}

@media (max-width: 1400px) {}

@media (max-width: 1381px) {}

@media (max-width: 1500px) {}

@media (max-width: 1200px) {}

@media (max-width: 1199px) {}

@media (max-width: 1024px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 440px) {
    .baner-area {
        padding: 50px 20px 20px 20px;
        background-position: right;
        height: 550px;
    }

    .baner-text h2 {
        font-size: 36px;
    }

    .baner-text p {
        font-size: 16px;
    }

    .baner-small {

        height: 360px;
        background-position: top;
    }

    .baner-small .baner-text h2 {
        padding-top: 60px;
    }

    .context-list p {
        font-size: 18px;
    }

    .context-list ul {
        font-size: 18px;
    }

    .context-faq .context {
        padding: 20px 20px;
    }

    .context-faq .title h4 {
        font-size: 20px;
        padding: 15px 50px 15px 15px;
    }

    .started-btn a {
        font-size: 15px;
        padding: 20px;
    }

    .wrapper,
    .context-faq {
        padding: 10px;
    }

    .bottom-txt {
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .section-text h2 {
        font-size: 24px;
    }

    .section-text p {
        font-size: 18px;
    }

    .ui-tabs .ui-tabs-nav li {
        width: 100%;

    }

    .upload {
        text-align: center;
        background: url(../images/upload.png) no-repeat center top;
    }

    .mb-5 .txt_gray {
        padding-left: 15px;
    }

    .btn-cart {
        display: block;
        text-align: center;
        margin-bottom: 10px;

    }

    .hyperlink {
        font-size: 15px;
    }

    .article {
        padding: 10px;
    }

    .section-text h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .bannerSDT {
        padding: 50px 20px;
        background-position: bottom;
        height: 960px;
    }

    .bannerSDT h1 {
        font-size: 32px;
    }

    .contentSDT {
        padding: 0 30px;
    }

    .contentSDT .context {
        padding: 20px;
    }

    .contentSDT ul {
        list-style-position: outside;
    }

    .contentSDT .btn a {
        font-size: 24px;
        display: block;
    }
}

@media (max-width: 375px) {}

@media (max-width: 320px) {}
