* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

div,
img,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-position: inside;
}

.wrapper,
.context-faq {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;

}

.clear {
    clear: both;
}

.shoose-img img,
.team-image img {
    width: 100%;
}

/* dropmenu*/
.dropmenu {
    position: relative;

}

.dropmenu:hover .submenu {
    display: block;

}

.dropmenu:hover .submenu a {
    text-decoration: none;
}

.dropmenu:hover .submenu a:hover {

    text-decoration: underline;
}

.submenu {

    position: absolute;
    left: -20px;
    top: 25px;
    text-align: left;
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    width: 320px;
    display: none;
    border-radius: 5px;
}

.submenu a {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}


/* article */
.article {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
}

.article h2 {
    color: #B72D2D;
}

.article a,
.recommend a {
    color: #333;

}

.blog-box {
    position: relative;
}

.tag {

    padding: 6px 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 12px;
    border-radius: 5px;

}

.article .cover img {
    width: 100%;
    margin: 30px 0;
}

.article .content h5 {
    margin: 40px 0;
}

.article .content p {
    margin-bottom: 20px;

}


.recommend .card {
    margin: 20px 0;
    border: none;
}

.share-bar {}

.share-bar .date {
    float: left;
}

.share-bar .share {
    float: right;
}

.card {

    margin-bottom: 30px;

}

.card .card-header {
    background-color: #fafafa;
    padding: 14px 20px;
    border-bottom: 1px solid #eee;
}

.card .card-body {

    padding: 20px;
}

.recommend {
    padding: 20px;
}

.recommend ul {

    list-style: none;
    margin-top: 40px;

}

.recommend ul li {

    display: inline-block;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;

    margin-right: 5px;
    margin-bottom: 10px;
}

.recommend ul li a {
    color: #B72D2D;

}

.carousel-control-next,
.carousel-control-prev {
    opacity: 0.5;
    width: 10%;
    background: none;
    border: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {

    display: inline-block;
    width: 20px;
    height: 20px;
    background: 50%/100% 100% no-repeat;

}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    opacity: 1;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

/* faq */
.context-faq {

    margin-bottom: 20px;
}

.context-faq .title h4 {
    color: #B72D2D;
    background: url(images/icon-open.svg) no-repeat right center;
}

.context-faq .title .close {

    background: url(images/icon-close.svg) no-repeat right center;
}

.context-faq .context {
    padding-top: 20px;
    display: none;

}

/* blog */

.blog-box {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 6px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1)
}

.blog-box .cover img {

    border-radius: 5px;
    width: 100%;
}

.blog-box .content {
    padding: 26px;
}

.blog-box .content a {
    color: #B72D2D;

}

.blog-box .content .date {
    margin: 10px 0;
    color: #999;
    font-size: 12px;
}

.blog-box .content p {
    font-size: 13px;
    color: #333
}


.date {
    background: url(images/icon-time.svg) no-repeat left center;
}

.date span {
    padding-left: 25px;
}

.checkbox {
    width: 16px;
    height: 16px;
    margin-top: 4px;
}


/* training */


.bannerSDT {
    border-radius: 10px;
    height: 700px;
    margin: 0 auto;
    padding: 60px 80px;
    background: url(images/bg-banner-9.png) no-repeat left top #f5f5f5;
    background-size: cover;
    color: #fff;
}

.bannerSDT h1 {
    font-size: 64px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding-bottom: 40px;
}

.bannerSDT h1 span {
    color: #FFCB14;
}

/* form */

.bannerSDT input,
.bannerSDT select,
.bannerSDT textarea {
    height: 48px;
    border-radius: 3px;
    border: 1px solid #E8ECED;
    background-color: #fff;
    width: 100%;
    margin-bottom: 16px;
    padding: 12px;

}


.bannerSDT button,
.bannerSDT input,
.bannerSDT optgroup,
.bannerSDT select,
.bannerSDT textarea,
.bannerSDT label {
    margin: 0;
    margin-bottom: 20px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.bannerSDT form {
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
}

.bannerSDT label {
    color: #333;
    font-weight: bold;
    text-align: center;

}

.bannerSDT textarea {
    height: 100px;

}

.bannerSDT button {
    width: 100%;
    height: 50px;
    background-color: #B82D2D;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 0;
}

.contentSDT {

    margin: 40px auto;

}

.contentSDT .btn {
    width: 100%;
    margin: 0 auto;
}

.contentSDT .btn a {
    text-align: center;
    background-color: #B82D2D;
    color: #fff;
    padding: 20px 50px;
    font-size: 24px;
    border-radius: 5px;
}

.contentSDT .context {
    background-color: #f5f5f5;
    padding: 50px 100px;
    margin-bottom: 50px;
    border-radius: 10px;

}

.contentSDT .context p {
    margin-bottom: 20px;
}

.contentSDT .context.row ul {
    padding-left: 20px;
}

.contentSDT .context h3 {
    color: #B82D2D;
    font-weight: bold;
    margin-bottom: 40px;
}

.contentSDT ul {
    list-style-position: inside;
    color: #B82D2D;

    padding: 0;
}

.contentSDT ul li {
    line-height: 30px;
}

.contentSDT ul span {
    font-weight: bold;
    color: #333;
}

.btn-cart {

    color: #fff;
    background-color: #B72D2D;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 18px;
}

.btn-cart:hover {

    color: #fff;
}

.btn-cart img {
    margin-right: 10px;
    margin-top: -3px;
}

.txt_red {
    font-size: 14px;
    color: #B72D2D;
}

.txt_gray {
    font-size: 14px;
    margin-left: -12px;
}

.txt_gray span {
    text-decoration: line-through;
}

.bottom-txt {
    padding: 60px 0 0 0;
    font-size: 18px;
}

.upload {
    margin-left: -10px;
    background: url(images/upload.png) no-repeat left top;
}

.upload input {
    opacity: 0;
    width: 140px;
    height: 140px;
    margin-left: -20px;
}

.hader-area {
    padding: 25px 0px;
    transition: all .5s;

}

.hader-menu ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px 10px 0;

}

.hyperlink {
    background: url(images/icon-web.svg) no-repeat 10px center #B72D2D;
    color: #fff;
    padding: 8px 26px 8px 44px;
    border-radius: 5px;
}

.logo-area {

    margin-top: 6px;
}

.hader-menu {
    text-align: right;
    margin-top: 20px;

}

.hader-menu ul {
    margin: 0;
    padding: 0;
}

.hader-menu ul li a {
    text-decoration: none;
    display: inline-block;
    color: #3D3939;
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
}

.hader-menu ul li:hover a {
    color: #B72D2D;
    text-decoration: underline;
}

.hader-menu ul li.active a {
    color: #B72D2D;
}

.singel-menu a {
    display: inline-block;
    text-decoration: none;
    margin-top: 12px;
    padding: 10px 20px;
    background: #B72D2D;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 18px 50px rgba(41, 28, 165, 0.22);
}

.singel-menu a:hover {
    background: #464358;
    color: #fff;
}

.baner-bg {

    max-width: 1200px;
    margin: 0 auto;
}

.baner-btn a:hover {
    background: #464358;
    color: #fff;
}

.baner-btn a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background: #4839DF;
    color: #fff;
    border-radius: 110px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 15px;
}

.baner-text h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
}

.baner-text p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.started-btn a {
    text-decoration: none;
    display: inline-block;
    padding: 12px 30px;
    background: #fff;
    color: #B72D2D;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
}

.started-btn a:hover {
    background: #464358;
    color: #fff;
}

.input-search {
    margin: 0 auto;
}

.input-search button {
    background: #B72D2D;
    color: #fff;
    padding: 8px 40px;
    border: none;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.input-search input {
    margin-bottom: 20px;
}

.input-search input::placeholder {

    color: #B72D2D;
}

.baner-area {
    height: 600px;
    background: url(images/baner.png) no-repeat left bottom;
    background-size: cover;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 40px;
    padding-left: 60px;
    padding-top: 100px;
}

.baner-small {
    height: 400px;
    padding-top: 140px;
    background-size: cover;
}

.banner-s-1 {
    background: url(images/baner-s-1.png) no-repeat left top;
}

.banner-s-2 {
    background: url(images/baner-s-2.png) no-repeat left top;
}

.banner-s-3 {
    background: url(images/baner-s-3.png) no-repeat left top;
}

.banner-s-4 {
    background: url(images/baner-s-4.png) no-repeat left top;
}

.banner-s-5 {
    background: url(images/baner-s-5.png) no-repeat left top;
}

.banner-s-6 {
    background: url(images/baner-s-6.png) no-repeat left top;
}

.baner-area.volunteer {
    background: url(images/baner3.png) no-repeat center center #2F2D38;
    background-size: cover;
    padding: 120px 0;
    color: #fff;
}

.baner-area .baner-text {
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.baner-area.volunteer .baner-text h2 {
    margin: 0;
}

/*
.baner-area:after{
	position: absolute;
	content: '';
	width: 50%;
	background: linear-gradient(rgba(127, 116, 240, 1), rgba(70, 56, 222, 1));
	height: 100%;
	left:100px;
	top:0;
	border-radius: 28px;
	z-index: -1;

}
*/
.baner-image img {
    position: absolute;
    top: 20px;
    right: 0;
    width: 55%;
}

/* context-list */

.context-list {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.context-list h2 {
    color: #B72D2D;
    margin-bottom: 30px;
}

.context-list p {
    margin-bottom: 30px;
}

.context-list ul {
    list-style: none;
    line-height: 36px;
    margin-bottom: 50px;
}

.context-list ul li {
    /*    background: url(images/icon-check.svg) no-repeat left center;*/
    font-weight: 600;
}

.about-us {
    margin-bottom: 140px;
}

.silider-area {
    margin-bottom: 140px;
}

.section-text {
    text-align: center;
    margin-bottom: 40px;
}

.section-text h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    color: #B82E2E;
}

.section-text p {
    font-size: 24px;
    margin-bottom: 15px;
}

.about-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Nunito', sans-serif;
    color: #555555;
    margin-bottom: 30px;
}

.win-icnon img {
    float: left;
    margin-top: 10px;
}

.counter-silader span {
    font-size: 30px;
    line-height: 43px;
    font-weight: 600;
    color: #1A1A1A;
}

.counter-silader {
    margin-left: 10px;
    display: inline-block;

}

.counter-silader h6 {
    font-size: 14px;
    font-weight: 400;
    color: #1A1A1A;
}

.about-btn a {
    text-decoration: none;
    display: inline-block;
    padding: 30px 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 60px rgba(99, 99, 99, 0.09);
    margin-bottom: 30px;
    height: auto;
}

.about-btn span {
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    color: #565454;
}

.head-btn a {
    margin-left: 140px;
}

.maine-section {
    background: #FAFAFA;
    padding: 60px 0px;
    position: relative;
}

/*section center*/

.maine-section.center {
    text-align: center;
    background-color: #2F2D3A;
    padding: 80px 0;
}

.maine-section.center .section-text h5 {
    font-size: 28px;
    font-weight: normal;
    width: 70%;
    margin: 0 auto;
    color: #FFD144;
}

.maine-section.center .section-text h2 {
    color: #fff;
    margin: 30px 0;
}

/* end */

/*section left*/
.maine-section.left {}

.maine-section.left .section-text h1 {
    font-size: 72px;
    margin-bottom: 50px;
    color: #B72D2D;
}

.maine-section.left .section-text h6 {
    font-size: 24px;
    line-height: 32px;
    font-style: italic;
}

/*section bg*/
.maine-section.bg {
    background: url(images/baner2.png) no-repeat right bottom;
    background-size: cover;
    padding: 120px 0;
    color: #fff;
}

.maine-section.bg .section-text h1 {
    color: #FFD144;
    margin-bottom: 50px;
}

.maine-section.bg .section-text h6 {
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
}

/*section right*/
.maine-section.right {
    background-color: #FFD144;
}

.maine-section.right .section-text h3 {
    font-size: 32px;
    padding: 40px 0;
}

.car-image {
    text-align: right
}

.services-box {
    margin-top: 50px;
}

.services-text p {
    margin-bottom: 0;
    font-size: 16px;
    color: #555555;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;

}

.services-text h4 {
    font-size: 20px;
    font-weight: 500;
    color: #1A1A1A;
    line-height: 43px;
    margin-top: 10px;
    line-height: 28px;
}

.choose-area {
    background: #FAFAFF;
    position: relative;
    padding: 0px 0;
    margin-bottom: 120px;
}

.choose-img {
    position: absolute;
    top: 2px;
    left: -130px;
}

.choose-area .card {
    background: none;
    border: none;
}

.card-header {
    background: none;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border: none;
    padding: 0;
    display: block;
}

.card-header button {
    text-decoration: none;
}

.card-header button span {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    display: inline-block;
    background: #007AFF;
    border-radius: 2px;
    padding: 10px 17px;
    margin-right: 20px;
}

.card-header .collapsed span {
    font-size: 16px;
    font-weight: 500;
    color: #007AFF;
    display: inline-block;
    background: #F8F8FD;
    border-radius: 2px;
    padding: 10px 17px;
    margin-right: 20px;
}

.card-body p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #222222;
    margin-bottom: 0;

}

.card-header button p {
    font-size: 16px;
    font-weight: 600;
    color: #1A1A1A;
    display: inline-block;
}

.shoose-img div {
    margin-bottom: 30px;
}

.shoose-text {
    margin-bottom: 40px;
}

.shoose-text h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.shoose-text p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

.shoose-text span {
    color: #999;
    font-size: 11px;
}

.shoose-text input,
.shoose-text select {
    margin-bottom: 20px;
}

#accordion {
    margin-bottom: 100px;
}

.team-box {
    text-align: center;
    padding: 30px 0;
}

.team-text h5 {
    font-size: 14px;
    color: #353434;
    font-weight: 600;
    margin-top: -10px;
}

.team-text h6 {
    font-size: 14px;
    font-weight: 400;
    color: #575656;
}

.team-text dl {
    text-align: left;
    font-size: 15px;
}

.team-text dt {
    font-size: 18px;
    margin-bottom: 20px;
}

.team-text p a {
    color: #000;
    text-align: left;
    display: block;
    font-size: 12px;
    text-decoration: underline;
}

.team-box .team-image img {}

.team-box .team-image {
    overflow: hidden;
}

.team-image {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.team-image:hover .overlay-content {
    opacity: 1;
    bottom: 20px;
}

.overlay-content {
    position: absolute;
    width: 134px;
    margin: auto;
    text-align: center;
    padding: 10px 5px;
    border-radius: 25px;
    background: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: .5s;
}

.overlay-content a {
    margin: 0 6px;
    color: #353434;
}

.our-team {
    width: 1200px;
    margin: 0 auto;
    padding: 0;

}

.our-team .section-text h2 {
    color: #B72D2D
}

.our-team .section-text h4 {}

.testimonial-text h4 {
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 5px;
}

.testimonial-icon i {
    color: #FACA51;
    margin-bottom: 25px;
}

.testimonial-peragrep p {
    font-size: 16px;
    color: #555555;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.testimonial-btn a:hover {
    background: #343a40;
}

.testimonial-btn a {
    text-decoration: none;
    display: inline-block;
    padding: 14px 35px;
    background: #B72D2D;
    color: #fff;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    transition: all .3s;
    box-shadow: 0 18px 50px rgba(41, 28, 165, 0.22);
}

.cooper-text h5 {
    color: #1A1A1A;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

.cooper-text h6 {
    color: #8D8D8D;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 10px;
}

.cooper-text p {
    color: #1A1A1A;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
}

.cooper-box {
    padding: 20px 23px;
    background: #fff;
    display: block;
    width: 100%;
    box-shadow: 0 0 30px rgba(180, 180, 180, 0.12);
    overflow: hidden;
    margin-bottom: 20px;
}

.cooper-text i {
    position: absolute;
    top: 10px;
    right: 0;
    color: #007AFF;
    font-size: 20px;
}

.cooper-text {
    position: relative;
}

.testimonial-area {
    position: relative;
    background: #FAFAFF;
    padding: 130px 0px;
    overflow: hidden;
}

.life-area {
    background: #FAFAFF;
}

.maine-life {
    background: url("images/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 80px;
}

.life-text h2 {
    font-size: 38px;
    color: #fff;
    font-weight: 600;
    line-height: 46.5px;
    width: 75%;
}

.life-text p {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.life-btn a {
    text-decoration: none;
    display: inline-block;
    padding: 14px 25px;
    background: #fff;
    color: #343434;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 20px;
    transition: all.3s;
    border: 1px solid transparent;
}

.life-btn a:hover {
    background: none;
    color: #fff;
    border: 1px solid #fff;
}

.footer-logo {
    margin-bottom: 25px;
    color: #f5f5f5;
}

.footer-text {
    padding: 30px 0;
}

.footer-text p {
    margin-bottom: 0;

    font-size: 15px;
    font-weight: 400;
    line-height: 28px
}

.footer-text p a {
    text-decoration: underline;
    color: #B72D2D;
}

.email-text {
    font-size: 15px;

    font-weight: 400;
    line-height: 35px;
}

.email-text h5 {
    font-size: 15px;
    font-weight: 600;
}

.footer-logo img {
    margin-top: 76px;
}

.footer-logo h4 {
    font-size: 22px;

    line-height: 43px;
    font-weight: 500;
    margin-top: 60px;
}

.footer-area {
    background: #2F2D3A;
    background-color: #fff;
    padding: 0px 0px;
    color: #ccc;
    text-align: center;
}

.footer-menu ul li {
    list-style: none;
}

.footer-menu ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #ccc;
    font-weight: 400;
    line-height: 30px;
}

.footer-from input {
    padding: 12px 15px;
    border: none;
    background: #EEF0FF;
    margin-bottom: 10px;
}

.footer-from input:focus {
    outline: none;
}

.footer-from button {
    padding: 10px 15px;
    background: #B72D2D;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    box-shadow: 0 18px 50px rgba(41, 28, 165, 0.22);
    margin-bottom: 100px;
}

.footer-bottom-area {
    border-top: 1px solid #eee;
    padding: 15px 0 30px 0;
}

.footer-bottom-area p {
    margin: 0;
    font-size: 12px;
    color: #999;

}

.copy-tetx p a {
    text-decoration: none;
}

.copy-tetx {
    margin-bottom: 20px;
}

.copy-tetx p {
    font-size: 12px;
    margin-bottom: 0;
}

.copy-icon a {
    text-decoration: none;
    margin-bottom: 0;
    font-size: 14px;
    color: #353434;
    font-weight: 400;
    margin-left: 20px;
    display: inline-block;
}

.box-cooper {
    margin-left: 0;
}

.testimonial-right-area {
    width: 45%;
    position: absolute;
    right: 140px;
    top: 40px;
}

.cooper-box {
    float: left;
    width: 370px;
    margin: 1%;
}

.cooper-box-list {
    margin-left: -1%;
    margin-right: -1%;
}

.services-area {
    overflow: hidden;
}

.copper-box-wrap.margin-left {
    margin-left: 90px;
}

.card-body {
    padding: 0 20px;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #555;
    color: #fff;
}

.hader-area.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background: #ffffff;
    padding: 10px 0;
}

/* sidemenu */
.sidemenu {

    list-style: none;
    text-align: left;

}

.sidemenu li {
    padding: 10px 0;

}

.sidemenu a {
    font-size: 20px;
    color: #B72D2D;
}

/*maine-section volunteer*/

.maine-section.volunteer h2 {
    color: #B72D2D;
    margin-bottom: 40px;
}

.maine-section.volunteer h4 {
    margin-bottom: 20px;
}

.maine-section.volunteer p {
    margin-bottom: 40px;

}

/* form */
input,
select,
textarea {
    height: 48px;
    border-radius: 3px;
    border: 1px solid #B72D2D;
    background-color: #fff;
    width: 100%;
    margin-bottom: 16px;
    padding: 12px;

}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea {
    height: 150px;
    margin-bottom: 20px;
}

.mobile-nav {
    list-style: none;

}

.mobile-nav li {

    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.mobile-nav li a {
    color: #333;
    padding: 10px 0;
    color: #B72D2D;

}

.mobile-subnav a {
    display: block;
    text-indent: 20px;

}
